.MobileContainer {
  max-width: 375px;
  max-height: 815px;
  width: 375px;
  height: 815px;
  overflow: auto;
  background: white;
  display: flex;
  flex-direction: column;
}

/* Set global CSS vars at the root level */
:root {
  --page-horizontal-padding: 30px;
  --pink: rgba(239, 71, 111, 1);
}
